*{text-align:center;}


nav{
  overflow: hidden;
  width:1150px;
  margin-left:110px;
  border-radius: 100px;
background-color: rgba(0, 0, 0, 0.5);
position: relative;
right: 10px;
box-shadow:8px 6px 8px;
color:black;
}
nav .brand{color: white;
  float: left;
  width: 20%;
  text-transform: uppercase;
  text-shadow: 3px 1px 5px #0a0a0a;
  font-style: italic;
  font-weight: bold;
font-size: 20px;
position:relative;
left:900px;
}
nav .linko{
  float: left;
width: 70%;
list-style: none;
padding: 0;
margin: 0;
position: relative;
left: -50px;
}
nav .linko li{
  display: inline-block;
  padding: 10px 15px;
margin-top:23px;
border-bottom: 2px solid transparent;
transition-duration:.6s;

}
nav .linko li:hover{
  color: black;
  border-bottom: 2px solid #b6dfed;
  background-color:#009688;
}
nav .linko li a{
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.containar{
  width: 1200px;
  margin: auto;
}
nav .containar .search{
  position:relative;
 right:880px;
top:30px;
 background-color:white;
 display:inline-block;
 padding:5px 10px 5px 10px;
 border-radius:30px;
 box-shadow: 5px 5px 10px;
 transition-duration:1.5s;
 cursor:pointer;
}
nav .containar .search:hover{
  padding-left:90px;
   background-color:#8a3db6;

}


head{background-color:black;
font-size:22;
color:#ebeda1;}

body{background-color:black;}

div.dark{
background: rgba(66,66,66,0.8);
border-radius:25px;
height:320%;
width:80%;
outline-color:white;
text-align=center;
color:white;
border:1px solid white;
  margin-top:100px;
  margin-bottom:100px;
  margin-right:100px;
  margin-left:100px;
}

.cap{
text-overflow:ellipse;}

.watch{height:450px;width:800px;
  border: 1px solid black;
  background-color:black;
  border-radius:25px;
  margin-right:60px;
  margin-left:60px;
  margin-bottom:60px;
  margin-top:60px;
}

.trailer{height:15%;
width:80%;
border:1px solid black;
  background-color:black;
border-radius:25px;
  margin-right:60px;
  margin-left:60px;
  margin-bottom:50px;
  margin-top:50px;}

.story{margin-left:20%;
  border:1px solid #ccc;
  float:center;
  width:40%;
hight:80px;
border-radius:25px;
background-color:black;
outline-color:none;
 margin-right:60px;
  margin-left:60px;
  margin-bottom:50px;
  margin-top:50px;
color:white;}

.pic{background-color:white;
color:black;
width:120px;
text-overflow:eclipse;
border-radius:25px;
 margin-right:60px;
  margin-left:60px;
  }

.act{width:118px;
border-radius:25px 25px 0px 0px;
color:black;
margin:auto;
  border:1px solid #ccc;
  float:center;
color:black;
}

h1{color:white;}

.actors{
  margin:auto;}
  border:1px solid #ccc;
  hight:20px;
  width:50%;
display:block;
}

video{margin:auto;
margin-top:3px;}
.watch{margin:auto;}

td, th {
  border:1px solid;
hight:10px;

}

.details{
  width:70%;
  border-collapse:collapse;
hight:50%;
color:white;
 margin-right:100px;
  margin-left:100px;
  margin-bottom:40px;
aoutline-color:white;
border-radius: 5px;
  margin-top:40px;
background-color:white;
color:black;
border-collapse:collapse;
padding:10px;
border-bottom:1px solid #ddd;
}

.cast{
height:27%;
width:80%;
border: 1px solid black;
  
  margin:auto;
outline-color:white;
border-radius: 25px;
  margin-top:40px;
background-color:black;}

span.a{
  display:inline-block;}



.footer .containar2{
  max-width: 1170px;
  margin: auto;
}
.footer{
background-color: rgba(0, 0, 0, 0.5);
height: 220px;
 width:1500px;
 position:relative;
 right:100px;
}
.row{
  display: flex;

}
.footer-col{
  width: 30%;
  padding: 0 15px;

}
.footer-col h4{
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-family: 'poppins',sans-serif;
  font-weight: 500;
border-bottom:2px solid red;
 width:150px;
 position: relative;

line-height:40px;
}

ul{
  list-style: none;
}
.footer-col ul li a{

  text-decoration: none;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  position: relative;
  right: 150px;
  transition-duration: .5s;
}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 12px;

}
.footer-col .social-links a{
display: inline-block;
width: 25px;
height: 30px;
 padding-top:15px;
 padding-right:10px;
 padding-left:10px;
 background-color: rgba(255,255,255,.2);
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition-duration: .5s;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}
