 .header {
  padding: 10px;
  text-align: right;
  background:  rgba(0, 0, 0, 0.5) ;
  color: white;
  font-size: 25px;
} 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Definition of colors */
body {
  /* text colors */
  --text-white: #ffffff;
  --text-dark: #142136;
  /* background colors */
  --bg-grey-light: black;
  --bg-white: rgb(0 0 0 / 50%);
  
  --bg-indigo:#be696c ;
  font-family: "Inter", sans-serif;
  line-height: 1.7;
  background-color: var(--bg-grey-light);
}
.dark {
  --text-white: #e6e6e6;
  --text-dark: #ffffff;
  --bg-grey-light: #142136;
  --bg-white: #22395d;
  --bg-blue-dark: #142136;
  --bg-indigo: #7577e1;
}
.container {
  max-width: 100%;
  margin: 40px auto;
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.text-wrapper {
  width: 100%;
  padding: 20px;
  background-color:var(--bg-white) ;
  
  margin-bottom: 40px;
  border-radius: 10px;
}
.paragraph {
  font-size: 16px;
  color: var(--text-dark);
}
.heading {
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 900;
  margin-bottom: 40px;
  color: var(--text-dark);
}
.buttons {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.button {
  width: 200px;
  padding: 5px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--bg-indigo);
  color: var(--text-white);
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.button:hover {
  background-color: rgb(86, 96, 126);

.image{
		transition:0.7s ease;
	}
	.image:hover{transform: scale(1.1); }
	
.contente{
		display:flex;
		justify-content:center;
		flex-direction:row;
		flex-wrap:wrap;
	}
.footer .containar2{
  max-width: 1170px;
  margin: auto;
}
.footer{
background-color: rgba(0, 0, 0, 0.5);
overflow: hidden;
color: #FFF;
height: 180px;
 width:1520px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 30px;
  line-height: 1.5;
  font-family: 'poppins',sans-serif;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
ul{
  list-style: none;
}
.footer-col ul li a{
  text-decoration: none;
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  position: relative;
  right: 40px;
  transition-duration: .5s;
}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 12px;
}
.footer-col .social-links a{
display: inline-block;
width: 40px;
height: 40px;
  background-color: rgba(255,255,255,.2);
margin: 0,10px,10px,0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition-duration: .5s;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
} 





























 
