body{
    font-family: cursive;
    text-transform: capitalize;
    background-image: url(../media/THEWITCHER/the-witcher-netflix-tv-series-tv-series-henry-cavill-orange-eyes-hd-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    cursor: url('../media/THEWITCHER/NicePng_minecraft-sword-png_4403781.png'),
            url('../media/THEWITCHER/NicePng_minecraft-sword-png_4403781.svg'),
            url('../media/THEWITCHER/NicePng_minecraft-sword-png_4403781.jpeg'), auto;
}




nav{
    overflow: hidden;
    width:1150px;
    margin-left:135px;
    border-radius: 100px;
    background-color: #000000a6;
    box-shadow:8px 6px 8px;
    color:black;
}

nav .containar .brand{color: white;
    float: left;
    width: 20%;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px black;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    position:relative;
    left:950px;
}

nav .linko{
    float: left;
    width: 70%;
    list-style: none;
    padding:0;
    margin: 0;
    position: relative;
    left: 200px;
}

nav .linko li{
    display: inline-block;
    padding: 10px 15px;
    margin-top:23px;
    border-bottom: 2px solid #f50c0c00;
    transition-duration:.6s;
    margin-left:20px;
}

nav .linko li:hover{
    color: black;
    border-bottom: 2px solid #ff0000bd;
    background-color:#109488;
}

nav .linko li a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.containar{
    width: 1200px;
    margin:auto;
}

nav .containar .search{
    position:relative;
    right:880px;
    top:30px;
    background-color:white;
    display:inline-block;
    padding:5px 10px 5px 10px;
    border-radius:30px;
    box-shadow: 5px 5px 10px;
    transition-duration:1.5s;
    cursor:pointer;
}

nav .containar .search:hover{
    padding-left:90px;
    background-color:#38c9e3;
    opacity:.8;
}


table{
    color: aliceblue;
    font-family: cursive;
    text-transform: capitalize;
    margin-left: 11%;
}

caption{
    text-align: center;
    color:crimson;
    font-size: 400%;
}

#hea{
    text-align: center;
    color: blue;
    border: 2px solid aliceblue;
    background-color: black;
}

#bod{
    text-align: center;
    color: blue;
    border: 2px solid aliceblue;
    background-color: black;
}

#fot{
    text-align: center;
    color: blue;
    border: 2px solid aliceblue;
    background-color: black;
}

td{
    border: 2px solid aliceblue;
    color: aqua;
}

.title{
    text-align: center;
    color: crimson;
    font-size: 70px;
}

.main{
    text-align: center;
    color: aliceblue;
    font-size: 100px;
}

.vfre{
    margin-left: 29%;
    width: 42%;
    height: 350px;
}

.series{
    margin-left: 25%;
}

.watch{
    margin-left: 20%;
    font-size:40px;
    font-style: italic;
    color: silver;
    -webkit-text-stroke: 2px black;
}








.footer .containar2{
    max-width: 1170px;
    margin: auto;
}
.footer{
    background-color: rgba(0, 0, 0, 0.5);
    height: 220px;
    width:1515px;
}
.row{
    display: flex;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-family: 'poppins',sans-serif;
    font-weight: 500;
    border-bottom:2px solid red;
    width:150px;
    position: relative;
    line-height:40px;
}
ul{
    list-style: none;
}
.footer-col ul li a{
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    position: relative;
    right: 40px;
    transition-duration: .5s;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 12px;
}
.footer-col .social-links a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition-duration: .5s;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

